body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	padding: 10px;
	width: 98.5%;
	position: sticky;
	top: 0px;
}
nav > ul > .right-nav {
	list-style-type: none;
	text-align-last: right;
	padding-right: 50px;
}

.nav-logo {
	margin-left: 30px;
	float: left;
	list-style-type: none;
}

nav .nav{
	margin: 0.5rem;
	display: inline;
}

nav .tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	font-size: 14px;
	padding: 7px;
}

.front-bg {
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 70vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	color: white;
	display: inline-block;
	padding-top: 0px;
	padding-right: 100px;
	min-height: 175px;
	width: 50%;
	float: right;
	text-align: right;
}

.title, .title-2 {
	font-family: 'Zilla Slab', sans-serif;
}

.title {
	font-size: 50px;
}

.subtitle {
	font-size: 20px;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	font-size: 14px;
	padding: 10px;
	width: 30%;
}

.title-2 {
	text-align: center;
}

.intro-description {
	padding-left: 150px;
	padding-right: 150px;
	text-align: justify;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 80px;
	padding-right: 80px;
}

.prefooter-description {
	padding-left: 150px;
	padding-right: 150px;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 50px;
	font-size: 14px;
	padding: 8px;
	width: 15%;
}

footer {
	text-align: center;
	padding-top: 10px;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}